.headings {
  text-align: center;
  border: 2px solid powderblue;
}
.text-strong {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.text-through {
  text-decoration: line-through;
}
